<div class="flexible-plastic-other-questionnaire d-none">
                    <div class="question-block question-1-FO">
                        <label class="form-label">1. The disposable unit consists of ...</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ1[0]" value="O" onchange="showNextQuestion(this)" data-next="question-2-FO">
                          <label class="form-check-label">≥ 70% of one kind of flexible plastic packaging</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ1[0]" value="R" onchange="showNextQuestion(this)" data-next="question-2-FO">
                          <label class="form-check-label">&lt; 70% of one kind of flexible plastic packaging</label> <span class="bubble bubble-R"></span>
                        </div>
                    </div>
                    <div class="question-block question-2-FO">
                        <label class="form-label">2. Will the disposable unit fit through a 3 cm hole?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ2[0]" value="O" onchange="showNextQuestion(this)" data-next="question-3-FO">
                          <label class="form-check-label">No</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ2[0]" value="L" onchange="showNextQuestion(this)" data-next="question-3-FO">
                          <label class="form-check-label">Yes</label> <span class="bubble bubble-L"></span>
                        </div>
                    </div>
                    <div class="question-block question-3-FO">
                        <label class="form-label">3. What shape is the packaging?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ3[0]" value="O" onchange="showNextQuestion(this)" data-next="question-4-FO">
                          <label class="form-check-label">Shaped packaging, e.g. a bag, flow wrap or pouch (not sheets)</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ3[0]" value="O" onchange="showNextQuestion(this)" data-next="question-4-FO">
                          <label class="form-check-label">Film, wrap or sheet with the same material on both sides</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ3[0]" value="R" onchange="showNextQuestion(this)" data-next="question-4-FO">
                          <label class="form-check-label">Film, wrap or sheet with sides made of different materials</label> <span class="bubble bubble-R"></span>
                        </div>
                    </div>
                    <div class="question-block d-none question-4-FO">
                        <label class="form-label">4. Determine the material composition of the main component</label>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="flexibleOQ4[0][]" value="L" onchange="showNextQuestion(this)" data-next="question-5-FO">
                           <label class="form-check-label">
                            At least one of the outer layers consists of PE or PP <span class="bubble bubble-L"></span>
                           </label>
                        </div>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="flexibleOQ4[0][]" value="NR" onchange="showNextQuestion(this)" data-next="question-5-FO">
                           <label class="form-check-label">
                              Combinations with non-plastic material layers, such as paper or textile
                             <span class="bubble bubble-N"></span>
                           </label>
                        </div>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="flexibleOQ4[0][]" value="NR" onchange="showNextQuestion(this)" data-next="question-5-FO">
                           <label class="form-check-label">
                              Addition of an aluminium layer more than 1 µm thick
                             <span class="bubble bubble-N"></span>
                           </label>
                        </div>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="flexibleOQ4[0][]" value="L" onchange="showNextQuestion(this)" data-next="question-5-FO">
                           <label class="form-check-label">
                            None of the above combinations or additions <span class="bubble bubble-L"></span>
                           </label>
                        </div>
                    </div>
                    <div class="question-block d-none question-5-FO">
                        <label class="form-label">5. Select possible disruptors in the disposable unit</label>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="flexibleOQ5[0][]" value="O" onchange="showNextQuestion(this)" data-next="question-6-FO">
                           <label class="form-check-label">
                            No disruptors present
                               <span class="bubble bubble-O"></span>
                           </label>
                        </div>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="flexibleOQ5[0][]" value="NR" onchange="showNextQuestion(this)" data-next="question-6-FO">
                           <label class="form-check-label">
                              Oxo-degradable plastics
                             <span class="bubble bubble-N"></span>
                           </label>
                        </div>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="flexibleOQ5[0][]" value="NR" onchange="showNextQuestion(this)" data-next="question-6-FO">
                           <label class="form-check-label">
                              PVC or PVdC
                             <span class="bubble bubble-N"></span>
                           </label>
                        </div>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="flexibleOQ5[0][]" value="NR" onchange="showNextQuestion(this)" data-next="question-6-FO">
                           <label class="form-check-label">
                            Silicone and elastomers
                               <span class="bubble bubble-N"></span>
                           </label>
                        </div>
                    </div>
                    <div class="question-block question-6-FO">
                        <label class="form-label">6. Is the packaging free of labels and direct prints?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ6[0]" value="Y" onchange="showNextQuestion(this)" data-next="question-8-FO">
                          <label class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ6[0]" value="N" onchange="showNextQuestion(this)" data-next="question-7-FO">
                          <label class="form-check-label">No</label>
                        </div>
                    </div>
                    <div class="question-block question-7-FO">
                        <label class="form-label">7. Select the label material which is unwanted in the mix plastics</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ7[0]" value="NR" onchange="showNextQuestion(this)" data-next="question-8-FO">
                          <label class="form-check-label">The label is made of paper and/or contains aluminium</label><span class="bubble bubble-N"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ7[0]" value="O" onchange="showNextQuestion(this)" data-next="question-8-FO">
                          <label class="form-check-label">The label is of the same material as the main component</label><span class="bubble bubble-O"></span>
                        </div>
                    </div>
                    <div class="question-block question-8-FO">
                        <label class="form-label">8. Is the packaging free of closures or other subcomponents?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ8[0]" value="Y" onchange="showNextQuestion(this)">
                          <label class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ8[0]" value="N" onchange="showNextQuestion(this)" data-next="question-9-FO">
                          <label class="form-check-label">No</label>
                        </div>
                    </div>
                    <div class="question-block question-9-FO">
                        <label class="form-label">9. Select the material of closures or sub-components that are undesirable in the mix flow</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ9[0]" value="NR" onchange="showNextQuestion(this)">
                          <label class="form-check-label">Closures with PVC, PVdC, silicone and/or elastomers</label><span class="bubble bubble-N"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ9[0]" value="NR" onchange="showNextQuestion(this)">
                          <label class="form-check-label">Sub-component made of a material other than plastic</label><span class="bubble bubble-N"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexibleOQ9[0]" value="O" onchange="showNextQuestion(this)">
                          <label class="form-check-label">None of the above options</label><span class="bubble bubble-O"></span>
                        </div>
                    </div>
                  </div>