<div class="flexible-plastic-pe-questionnaire d-none">
                    <div class="question-block question-1-FPE">
                        <label class="form-label">1. The disposable unit consists of ...</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ1[0]" value="O" onchange="showNextQuestion(this)" data-next="question-2-FPE">
                          <label class="form-check-label">≥ 70% flexible PE</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ1[0]" value="R" onchange="showNextQuestion(this)" data-next="question-2-FPE">
                          <label class="form-check-label">&lt; 70% flexible PE</label> <span class="bubble bubble-R"></span>
                        </div>
                    </div>
                    <div class="question-block question-2-FPE">
                        <label class="form-label">2. Will the disposable unit fit through a 3 cm hole?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ2[0]" value="O" onchange="showNextQuestion(this)" data-next="question-3-FPE">
                          <label class="form-check-label">No</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ2[0]" value="L" onchange="showNextQuestion(this)" data-next="question-3-FPE">
                          <label class="form-check-label">Yes</label> <span class="bubble bubble-L"></span>
                        </div>
                    </div>
                    <div class="question-block question-3-FPE">
                        <label class="form-label">3. What shape is the packaging?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ3[0]" value="O" onchange="showNextQuestion(this)" data-next="question-4-FPE">
                          <label class="form-check-label">Shaped packaging, e.g. a bag, flow wrap or pouch (not sheets)</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ3[0]" value="O" onchange="showNextQuestion(this)" data-next="question-4-FPE">
                          <label class="form-check-label">Film, wrap or sheet with the same material on both sides</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ3[0]" value="R" onchange="showNextQuestion(this)" data-next="question-4-FPE">
                          <label class="form-check-label">Film, wrap or sheet with sides made of different materials</label> <span class="bubble bubble-R"></span>
                        </div>
                    </div>
                    <div class="question-block question-4-FPE">
                        <label class="form-label">4. Is the main component of the disposable unit made of mono-PE, i.e.
                                                PE without any other layers such as barriers, coatings and/or fillers?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ4[0]" value="Y" onchange="showNextQuestion(this)" data-next="question-6-FPE">
                          <label class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ4[0]" value="N" onchange="showNextQuestion(this)" data-next="question-5-FPE">
                          <label class="form-check-label">No</label>
                        </div>
                    </div>
                    <div class="question-block d-none question-5-FPE">
                          <label class="form-label">5. Determine the material composition of the main component</label>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ5[0][]" value="O" onchange="showNextQuestion(this)" data-next="question-6-FPE">
                            <label class="form-check-label">
                              The main component consists of at least 90% PE or PE variants
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ5[0][]" value="R" onchange="showNextQuestion(this)" data-next="question-6-FPE">
                            <label class="form-check-label">
                              The main component consists for less than 90% out of PE or PE variants
                              <span class="bubble bubble-R"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ5[0][]" value="R" onchange="showNextQuestion(this)" data-next="question-6-FPE">
                            <label class="form-check-label">
                              The main component contains PP
                              <span class="bubble bubble-R"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ5[0][]" value="R" onchange="showNextQuestion(this)" data-next="question-6-FPE">
                            <label class="form-check-label">
                              The main component contains barrier materials, such as EVOH, SiOx or AlOx
                              <span class="bubble bubble-R"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ5[0][]" value="R" onchange="showNextQuestion(this)" data-next="question-6-FPE">
                            <label class="form-check-label">
                              The main component has been invisibly metallised
                              <span class="bubble bubble-R"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ5[0][]" value="L" onchange="showNextQuestion(this)" data-next="question-6-FPE">
                            <label class="form-check-label">
                              The main component has been metallised and more than 30% of the metallised
                                surface area is visible on at least one of the exterior sides
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ5[0][]" value="L" onchange="showNextQuestion(this)" data-next="question-6-FPE">
                            <label class="form-check-label">
                              The main component consists of a combination of PE and other plastics, such as PET, PA, PVOH or PLA.
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ5[0][]" value="L" onchange="showNextQuestion(this)" data-next="question-6-FPE">
                            <label class="form-check-label">
                              The density of the main component is greater than 1 g/cm3.
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ5[0][]" value="NR" onchange="showNextQuestion(this)" data-next="question-6-FPE">
                            <label class="form-check-label">
                              The main component contains an aluminium layer with a thickness over 1 µm
                              <span class="bubble bubble-N"></span>
                            </label>
                          </div>
                    </div>
                    <div class="question-block d-none question-6-FPE">
                          <label class="form-label">6. Select possible disruptors in the main component</label>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ6[0][]" value="O" onchange="showNextQuestion(this)" data-next="question-7-FPE">
                            <label class="form-check-label">
                              No disruptors present
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ6[0][]" value="NR" onchange="showNextQuestion(this)" data-next="question-7-FPE">
                            <label class="form-check-label">
                              Non-plastic material layers, such as paper or textile
                              <span class="bubble bubble-N"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ6[0][]" value="NR" onchange="showNextQuestion(this)" data-next="question-7-FPE">
                            <label class="form-check-label">
                              Oxo-degradable plastics
                              <span class="bubble bubble-N"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ6[0][]" value="NR" onchange="showNextQuestion(this)" data-next="question-7-FPE">
                            <label class="form-check-label">
                              PVC or PVdC
                              <span class="bubble bubble-N"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ6[0][]" value="NR" onchange="showNextQuestion(this)" data-next="question-7-FPE">
                            <label class="form-check-label">
                              Silicone and elastomers
                              <span class="bubble bubble-N"></span>
                            </label>
                          </div>
                    </div>
                    <div class="question-block question-7-FPE">
                        <label class="form-label">7. What colour is the material of the main component?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ7[0]" value="O" onchange="showNextQuestion(this)" data-next="question-8-FPE">
                          <label class="form-check-label">Colourless, transparent or white</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ7[0]" value="O" onchange="showNextQuestion(this)" data-next="question-8-FPE">
                          <label class="form-check-label">Coloured</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ7[0]" value="L" onchange="showNextQuestion(this)" data-next="question-8-FPE">
                          <label class="form-check-label">At least one of the visible sides is black</label> <span class="bubble bubble-L"></span>
                        </div>
                    </div>
                    <div class="question-block question-8-FPE">
                        <label class="form-label">8. Is the packaging free of labels and direct prints?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ8[0]" value="Y" onchange="showNextQuestion(this)" data-next="question-10-FPE">
                          <label class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ8[0]" value="N" onchange="showNextQuestion(this)" data-next="question-9-FPE">
                          <label class="form-check-label">No</label>
                        </div>
                    </div>
                    <div class="question-block d-none question-9-FPE">
                          <label class="form-label">9. Which of the following applies/apply to the disposable unit</label>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ9[0][]" value="O" onchange="showNextQuestion(this)" data-next="question-10-FPE">
                            <label class="form-check-label">
                              Direct prints
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ9[0][]" value="O" onchange="showNextQuestion(this)" data-next="question-10-FPE">
                            <label class="form-check-label">
                              The label is made of the same material as the main component
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ9[0][]" value="R" onchange="showNextQuestion(this)" data-next="question-10-FPE">
                            <label class="form-check-label">
                              The label is made of PP
                              <span class="bubble bubble-R"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ9[0][]" value="L" onchange="showNextQuestion(this)" data-next="question-10-FPE">
                            <label class="form-check-label">
                              The label is made of a plastic other than PE or PP
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ9[0][]" value="L" onchange="showNextQuestion(this)" data-next="question-10-FPE">
                            <label class="form-check-label">
                              The label or the print is black and covers more than 30% of the surface of the main component
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ9[0][]" value="NR" onchange="showNextQuestion(this)" data-next="question-10-FPE">
                            <label class="form-check-label">
                              The label is made of paper and/or contains aluminium
                              <span class="bubble bubble-N"></span>
                            </label>
                          </div>
                    </div>


                    <div class="question-block question-10-FPE">
                        <label class="form-label">10. Is the packaging free of closures or other subcomponents?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ10[0]" value="Y" onchange="showNextQuestion(this)">
                          <label class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="flexiblePEQ10[0]" value="N" onchange="showNextQuestion(this)" data-next="question-11-FPE">
                          <label class="form-check-label">No</label>
                        </div>
                    </div>

                    <div class="question-block d-none question-11-FPE">
                          <label class="form-label">11. Select what material the closures or subcomponents are made of</label>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ11[0][]" value="O" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              PE with a density < 1 g/cm3
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ11[0][]" value="R" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              PP with a density < 1 g/cm3
                              <span class="bubble bubble-R"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ11[0][]" value="L" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Rigid plastic subcomponents
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ11[0][]" value="L" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              PE or PP with a density > 1 g/cm3
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ11[0][]" value="L" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Other plastics, e.g. PS, PET, PC
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ11[0][]" value="L" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Metal
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ11[0][]" value="NR" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Non-plastic materials
                              <span class="bubble bubble-N"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flexiblePEQ11[0][]" value="NR" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              PVC, PVdC, silicones and/or elastomers
                              <span class="bubble bubble-N"></span>
                            </label>
                          </div>
                    </div>
                  </div>