<div class="metal-aluminium-questionnaire d-none">
                    <div class="question-block question-1-MA">
                        <label class="form-label">1. The disposable unit consists of ...</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="metalAQ1[0]" value="O" onchange="showNextQuestion(this)" data-next="question-2-MA">
                          <label class="form-check-label">≥ 70% aluminium</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="metalAQ1[0]" value="R" onchange="showNextQuestion(this)" data-next="question-2-MA">
                          <label class="form-check-label">&lt; 70% aluminium</label> <span class="bubble bubble-R"></span>
                        </div>
                    </div>
                    <div class="question-block question-2-MA">
                        <label class="form-label">2. Is the disposable unit made of flexible aluminium?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="metalAQ2[0]" value="O" onchange="showNextQuestion(this)" data-next="question-3-MA">
                          <label class="form-check-label">No</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="metalAQ2[0]" value="L" onchange="showNextQuestion(this)" data-next="question-3-MA">
                          <label class="form-check-label">Yes</label> <span class="bubble bubble-L"></span>
                        </div>
                    </div>
                    <div class="question-block question-3-MA">
                        <label class="form-label">3. Does the disposable unit contain heavy metals such as copper, nickel and cadmium?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="metalAQ3[0]" value="O" onchange="showNextQuestion(this)" data-next="question-4-MA">
                          <label class="form-check-label">No</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="metalAQ3[0]" value="NR" onchange="showNextQuestion(this)" data-next="question-4-MA">
                          <label class="form-check-label">Yes</label> <span class="bubble bubble-N"></span>
                        </div>
                    </div>
                    <div class="question-block question-4-MA">
                        <label class="form-label">4. Is the disposable unit a combination with steel?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="metalAQ4[0]" value="O" onchange="showNextQuestion(this)" data-next="question-5-MA">
                          <label class="form-check-label">No</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="metalAQ4[0]" value="L" onchange="showNextQuestion(this)" data-next="question-5-MA">
                          <label class="form-check-label">Yes</label> <span class="bubble bubble-L"></span>
                        </div>
                    </div>
                    <div class="question-block d-none question-5-MA">
                        <label class="form-label">5. Determine the material of the closure and sub-components present, such as lids and labels.</label>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="metalAQ5[0][]" value="O" onchange="showNextQuestion(this)" data-next="question-6-MA">
                           <label class="form-check-label">
                            No closure or other sub-components are present
                               <span class="bubble bubble-O"></span>
                           </label>
                        </div>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="metalAQ5[0][]" value="O" onchange="showNextQuestion(this)" data-next="question-6-MA">
                           <label class="form-check-label">
                            Aluminium
                               <span class="bubble bubble-O"></span>
                           </label>
                        </div>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="metalAQ5[0][]" value="O" onchange="showNextQuestion(this)" data-next="question-6-MA">
                           <label class="form-check-label">
                            Other materials (such as plastic, paper or wood)
                               <span class="bubble bubble-O"></span>
                           </label>
                        </div>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="metalAQ5[0][]" value="L" onchange="showNextQuestion(this)" data-next="question-6-MA">
                           <label class="form-check-label">
                            Steel
                               <span class="bubble bubble-L"></span>
                           </label>
                        </div>
                    </div>
                    <div class="question-block question-6-MA">
                        <label class="form-label">6. Has PVC been used in the disposal unit, e.g. a PVC coating?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="metalAQ6[0]" value="O" onchange="showNextQuestion(this)">
                          <label class="form-check-label">No</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="metalAQ6[0]" value="R" onchange="showNextQuestion(this)">
                          <label class="form-check-label">Yes</label> <span class="bubble bubble-R"></span>
                        </div>
                    </div>
                </div>