<div class="rigid-plastic-other-pet-questionnaire d-none">
                      <div class="question-block question-1-ROPET">
                        <label class="form-label">1. The disposable unit consists of ...</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="rigidOPETQ1[0]" value="O" onchange="showNextQuestion(this)" data-next="question-2-ROPET">
                          <label class="form-check-label">≥ 70% rigid PE or PP</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="rigidOPETQ1[0]" value="R" onchange="showNextQuestion(this)" data-next="question-2-ROPET">
                          <label class="form-check-label">&lt; 70% rigid PE or PP</label> <span class="bubble bubble-R"></span>
                        </div>
                      </div>
                      <div class="question-block d-none question-2-ROPET">
                        <label class="form-label">2. Will the disposable unit fit through a 3 cm hole?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="rigidOPETQ2[0]" value="O" onchange="showNextQuestion(this)" data-next="question-3-ROPET">
                          <label class="form-check-label">No</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="rigidOPETQ2[0]" value="R" onchange="showNextQuestion(this)" data-next="question-3-ROPET">
                          <label class="form-check-label">Yes</label> <span class="bubble bubble-R"></span>
                        </div>
                      </div>
                      <div class="question-block d-none question-3-ROPET">
                        <label class="form-label">3. What is the capacity of the disposable unit?</label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="rigidOPETQ3[0]" value="O" onchange="showNextQuestion(this)" data-next="question-4-ROPET">
                          <label class="form-check-label">5 litres or less</label> <span class="bubble bubble-O"></span>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="rigidOPETQ3[0]" value="R" onchange="showNextQuestion(this)" data-next="question-4-ROPET">
                          <label class="form-check-label">Larger than 5 litres</label> <span class="bubble bubble-R"></span>
                        </div>
                      </div>
                      <div class="question-block d-none question-4-ROPET">
                          <label class="form-label">4. Does the packaging have a cylindrical or conical shape and a capacity of less than 200ml?</label>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ4[0]" value="Y" onchange="showNextQuestion(this)" data-next="question-5-ROPET">
                            <label class="form-check-label">Yes</label>
                          </div>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ4[0]" value="N" onchange="showNextQuestion(this)" data-next="question-6-ROPET">
                            <label class="form-check-label">No</label>
                          </div>
                      </div>
                      <div class="question-block d-none question-5-ROPET">
                          <label class="form-label">5. Is the packaging in question hard' cylindrical or conical and can it be flattened during the sorting process?</label>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ5[0]" value="O R" onchange="showNextQuestion(this)" data-next="question-6-ROPET">
                            <label class="form-check-label">Yes</label> <span class="bubble bubble-O"></span> <span class="bubble bubble-R"></span>
                          </div>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ5[0]" value="R" onchange="showNextQuestion(this)" data-next="question-6-ROPET">
                            <label class="form-check-label">No</label> <span class="bubble bubble-R"></span>
                          </div>
                      </div>
                      <div class="question-block d-none question-6-ROPET">
                          <label class="form-label">6. Is the main component made of mono-A-PET or rPET without barriers, coatings and/or fillers?</label>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ6[0]" value="Y" onchange="showNextQuestion(this)" data-next="question-8-ROPET">
                            <label class="form-check-label">Yes</label>
                          </div>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ6[0]" value="N" onchange="showNextQuestion(this)" data-next="question-7-ROPET">
                            <label class="form-check-label">No</label>
                          </div>
                      </div>
                      <div class="question-block d-none question-8-ROPET">
                          <label class="form-label">8. Select potential disruptors in the main component.</label>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ8[0][]" value="O" data-next="question-9-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              No disruptors present.
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ8[0][]" value="NR" data-next="question-9-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Oxo-degradable plastics
                              <span class="bubble bubble-N"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ8[0][]" value="NR" data-next="question-9-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              PVC, PVdC OR PETG
                              <span class="bubble bubble-N"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ8[0][]" value="NR" data-next="question-9-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Silicone and elastomers
                              <span class="bubble bubble-N"></span>
                            </label>
                          </div>
                      </div>
                      <div class="question-block d-none question-9-ROPET">
                          <label class="form-label">9. What colour is the material of the main component?</label>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ9[0]" value="O" onchange="showNextQuestion(this)" data-next="question-10-ROPET">
                            <label class="form-check-label">Transparent and colourless</label> <span class="bubble bubble-O"></span>
                          </div>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ9[0]" value="R" onchange="showNextQuestion(this)" data-next="question-10-ROPET">
                            <label class="form-check-label">Opaque and transparent colours</label> <span class="bubble bubble-R"></span>
                          </div>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ9[0]" value="L" onchange="showNextQuestion(this)" data-next="question-10-ROPET">
                            <label class="form-check-label">Black and dark colours based on Carbonblack</label> <span class="bubble bubble-L"></span>
                          </div>
                      </div>
                      <div class="question-block d-none question-10-ROPET">
                          <label class="form-label">10. Is the packaging free from labels, sleeves or direct prints?</label>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ10[0]" value="Y" onchange="showNextQuestion(this)" data-next="question-14-ROPET">
                            <label class="form-check-label">Yes</label>
                          </div>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ10[0]" value="N" onchange="showNextQuestion(this)" data-next="question-11-ROPET">
                            <label class="form-check-label">No</label>
                          </div>
                      </div>
                      <div class="question-block d-none question-11-ROPET">
                          <label class="form-label">11. Labels or sleeves that meet the following criteria do not affect sortability.</label>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ11[0]" value="O" onchange="showNextQuestion(this)" data-next="question-13-ROPET">
                            <label class="form-check-label">Labels, sleeves or direct prints cover less
                                    than 50% of the surface area of the packaging (≤ 500 ml) <span class="bubble bubble-O"></span></label>
                          </div>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ11[0]" value="O" onchange="showNextQuestion(this)" data-next="question-13-ROPET">
                            <label class="form-check-label">Labels, sleeves or direct prints cover less
                                    than 70% of the surface area of the packaging (> 500 ml) <span class="bubble bubble-O"></span></label>
                          </div>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ11[0]" value=" " onchange="showNextQuestion(this)" data-next="question-12-ROPET">
                            <label class="form-check-label">None of the above. </label>
                          </div>
                      </div>
                      <div class="question-block d-none question-12-ROPET">
                          <label class="form-label">12. Labels and sleeves that do not meet the requirements set forth in
                                                    Question 11 affect sortability. Select what applies to your packaging.</label>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ12[0][]" value="O" data-next="question-13-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              The sleeve or label has to be removed in its entirety to access the product
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ12[0][]" value="O" data-next="question-13-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              The material of the label or sleeve is the same as the material of the main component
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ12[0][]" value="O" data-next="question-13-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              The label or sleeve features a direct print
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ12[0][]" value="O" data-next="question-13-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              The label or sleeve is made of PET, PS, PE or PP and is no more than 120 µm (0,12 mm) thick
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ12[0][]" value="R" data-next="question-13-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              The label or sleeve is made of plastics other than PET, PS, PE or PP
                              <span class="bubble bubble-R"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ12[0][]" value="L" data-next="question-13-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              The colour of the material of the label or sleeve and/or the print is black or dark coloured based on Carbonblack.
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ12[0][]" value="L" data-next="question-13-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              There is a shiny metal layer all over the surface.
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ12[0][]" value="L" data-next="question-13-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              The label or sleeve features layers that are impenetrable by light.
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>
                      </div>
                      <div class="question-block d-none question-13-ROPET">
                          <label class="form-label">13. The materials used in labels and
                                    sleeves and the presence of direct prints affect recyclability. Select what applies to your packaging.</label>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ13[0][]" value="O" data-next="question-14-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              PE and/or PP with density <1 g/cm3
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ13[0][]" value="R" data-next="question-14-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Other plastics including PETG and PE / PP with density > 1 g/cm3 and thermal paper
                              <span class="bubble bubble-R"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ13[0][]" value="R" data-next="question-14-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Direct prints on the PET packaging
                              <span class="bubble bubble-R"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ13[0][]" value="L" data-next="question-14-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Non-plastic materials such as non-thermal paper and aluminium
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ13[0][]" value="NR" data-next="question-14-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Added PVC or PVdC
                              <span class="bubble bubble-N"></span>
                            </label>
                          </div>
                      </div>
                      <div class="question-block d-none question-14-ROPET">
                          <label class="form-label">14. Is the packaging free from closures and subcomponents?</label>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ14[0]" value="Y" onchange="showNextQuestion(this)" data-next="question-16-ROPET">
                            <label class="form-check-label">Yes </label>
                          </div>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ14[0]" value="N" onchange="showNextQuestion(this)" data-next="question-15-ROPET">
                            <label class="form-check-label">No </label>
                          </div>
                      </div>
                      <div class="question-block d-none question-15-ROPET">
                          <label class="form-label">15. Select what material the closures or subcomponents are made of</label>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ15[0][]" value="O" data-next="question-16-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              PE and/or PP-based material with a density <1 g/cm3
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ15[0][]" value="R" data-next="question-16-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Other plastics, such as PET, PS, PC or PE and/or PP with density >1 g/cm3
                              <span class="bubble bubble-R"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ15[0][]" value="L" data-next="question-16-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Enclosed hard metal parts
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ15[0][]" value="L" data-next="question-16-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Non-plastic materials
                              <span class="bubble bubble-L"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ15[0][]" value="NR" data-next="question-16-ROPET" onchange="showNextQuestion(this)">
                            <label class="form-check-label">
                              Closures with PVC, PVdC, PET-G, silicone and/or elastomers
                              <span class="bubble bubble-N"></span>
                            </label>
                          </div>
                      </div>
                      <div class="question-block d-none question-16-ROPET">
                          <label class="form-label">16. Is the packaging free from glued-on labels, sleeves, or subcomponents?</label>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ16[0]" value="Y" onchange="showNextQuestion(this)">
                            <label class="form-check-label">Yes </label>
                          </div>

                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="rigidOPETQ16[0]" value="N" onchange="showNextQuestion(this)" data-next="question-17-ROPET">
                            <label class="form-check-label">No </label>
                          </div>
                      </div>
                      <div class="question-block d-none question-17-ROPET">
                          <label class="form-label">17. Select which of the following applies to the adhesives used for labels
                                            and/or subcomponents</label>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ17[0][]" value="O">
                            <label class="form-check-label">
                              Certified adhesives that dissolve or release in alkali or hot water (between 60-80°C)
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ17[0][]" value="O" >
                            <label class="form-check-label">
                              Labels are permanently glued to easily removable top film
                              <span class="bubble bubble-O"></span>
                            </label>
                          </div>

                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="rigidOPETQ17[0][]" value="O R">
                            <label class="form-check-label">
                              Adhesives that do not dissolve or come off when heated and/or have not yet been certified
                              <span class="bubble bubble-O"></span> <span class="bubble bubble-R"></span>
                            </label>
                          </div>
                      </div>
                  </div>